* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
    --section-bg-color: rgba(255, 255, 255, 0.413);
    --header-bg-color: #00000096;
    --footer-bg-color: #00000096;
    --link-color: white;
    --link-hover-color: grey;
    --border-color: white;
}

body.dark-mode {
    --background-color: black;
    --text-color: rgb(0, 0, 0);
    --section-bg-color: rgba(101, 101, 101, 0.062);
    --header-bg-color: #ffffffd9;
    --footer-bg-color: #ffffffd9;
    --link-color: #000000;
    --link-hover-color: #000000;
    --border-color: #000000;
}

body {
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color);
    margin: 0 auto;
    margin-bottom: 60px;
}

header {
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 10;
}

nav {
    display: flex; 
    align-items: center; 
}

nav ul {
    list-style-type: none;
    display: flex; 
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 20px;
}

section {
    padding: 50px;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    text-align: center;
    color: var(--text-color);
    background-color: var(--footer-bg-color);
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid var(--border-color);
    z-index: 10;
}

footer .switch {
    position: absolute;
    right: 10px; 
}

img {
    max-width: 500px;
    height: auto;
    padding: 5px;
}


#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

#projects .project {
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--section-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#projects .project img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

#projects .project h3 {
    margin-top: 10px;
}

#projects .project p {
    font-size: 0.9em;
    line-height: 1.4;
    padding: 5px
}


.content-wrapper, header, main {
    position: relative;
    z-index: 2;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color);
    padding: 2px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

h1 {
    color: orange;
}

h5 {
    font-size: 100px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    padding: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #3b3b3b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #d9d9d9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.language-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--section-bg-color);
    border-radius: 25px;
    border: 1px solid var(--border-color);

}

.icon {
    margin: 10px;
    text-align: center;
}

.icon img {
    width: 50px; 
    height: auto;
}


.icon p {
    margin-top: 5px;
    font-size: 0.9em;
}



@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

h5 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(40, end),
        blink .75s step-end infinite;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header, nav ul li {
        font-size:15px;
        padding: 5px;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        width: 95%;
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    h1 {
        font-size: 2px;
    }

    h2 {
        font-size: 15px;
    }
    h5 {
        animation: none;
        overflow: visible;
        white-space: normal;
        border-right: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .icon img {
        width: 40px;
    }
}

@media only screen and (max-width: 480px) {
    nav ul {
        display: none;
    }

    h1 {
        font-size: 20px;
    }


    h5 {
        font-size: 50px;
    }
}
