<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bahamas</title>
</head>

<body>

    <h1><a href="https://www.bahamas.com/">The Bahamas</a></h1>

        <img src="/Static/IMG/bahamas-flag.png" alt="Bahamas Flag"></img>

        <p>The Bahamas is an archipelago located in the Atlantic Ocean, consisting of over 700 islands, cays, and islets. Situated to the southeast of Florida and north of Cuba, it is renowned for its stunning beaches, clear waters, and vibrant coral reefs. With its rich history influenced by British, Spanish, and African heritages, The Bahamas has a unique blend of cultures reflected in its traditions and festivals. As a major tourist destination, it boasts a thriving economy largely based on tourism and offshore banking.</p>

    <h1>Geography of The Bahamas</h1>

        <h2>Location</h2>
            <p>Chain of islands in the North Atlantic Ocean, southeast of Florida, northeast of Cuba; note - although The Bahamas does not border the Caribbean Sea, geopolitically it is often designated as a Caribbean nation.</p>
            <img src="/Static/IMG/bahamas-map.png" alt="Bahamas Map"></img>
        <h2>Area</h2>
        <ul>
            <li>Total: 13,880 sq km</li>
            <li>Land: 10,010 sq km</li>
            <li>Water: 3,870 sq km</li>
        </ul>

        <h2>Climate</h2>
            <p>Tropical marine; moderated by warm waters of Gulf Stream.</p>

        <img src="/Static/IMG/bahamas-overview.png" alt="Bahamas Overview"></img>

    <h1>People and Society of The Bahamas</h1>

        <h2>Population</h2>
            <p>358,508</p>
        
        <h2>Nationality</h2>
            <p>Bahamian(s)</p>
        
        
        <h2>Ethnic groups</h2>
            <p>African descent 90.6%, White 4.7%, mixed 2.1%, other 1.9%, unspecified 0.7%</p>
        
    
    <h1>Government of The Bahamas</h1>

        <h2>Government type</h2>
            <p>Parliamentary democracy under a constitutional monarchy; a Commonwealth realm.</p>
            
        <h2>Capital</h2>
            <p>Nassau</p>
            
        <h2>National holiday</h2>
            <p>Independence Day: <time datetime="07-10">10th of July</time></p>
            


    <h2><a href="https://www.cia.gov/the-world-factbook/countries/bahamas-the/">Read More on the Bahamas from CIA Factbook Here!</a></h2>
</body>

</html>
